/*____________________________________________________________
# Extends
____________________________________________________________*/

/*____________________________________________________________
## Position centering extends
____________________________________________________________*/
%verticalCentering {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

%horizontalCentering {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

%centering {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}