/*____________________________________________________________

# Variables
# Container
# @import
	## @import _variables.scss
	## @import _centering.scss
	## @import _animDelay.scss
	
	## @import buttonsStyle.scss
	## @import home.scss
	## @import illustration.scss
	## @import about.scss
	## @import icons.scss
	## @import animationPack.scss
	## @import animationIllustration.scss
	## @import animationIcons.scss

____________________________________________________________*/

/*____________________________________________________________
# Container
____________________________________________________________*/
.container {
	width: 100%;
}

/*____________________________________________________________
# @import
____________________________________________________________*/

/*____________________________________________________________
## @import _variables.scss
____________________________________________________________*/
@import 'partials/variables/_variables.scss';

/*____________________________________________________________
## @import _centering.scss
____________________________________________________________*/
@import 'partials/extends/_centering.scss';

/*____________________________________________________________
## @import _animDelay.scss
____________________________________________________________*/
@import 'partials/mixins/_animDelay.scss';

/*____________________________________________________________
## @import buttonsStyle.scss
____________________________________________________________*/
@import 'partials/index/buttonsStyle.scss';

/*____________________________________________________________
## @import navigation.scss
____________________________________________________________*/
@import 'partials/navigation/navigation.scss';

/*____________________________________________________________
## Social links
____________________________________________________________*/
.social {
	position: fixed;
	left: 40px;
	bottom: 0;
	z-index: 2;
}
.socialList {
	
	&:after {
		content: '';
		display: block;
		margin: 0 auto;
		width: 1px;
		height: 40px;
		background: #f7e0b5;
	}
}
.socialList__item {
	margin-bottom: 10px;
	width: 20px;
	height: 20px;
	transition: transform .2s;
	
	&:hover {
		transform: translateY(-3px);
		
		.socialList__icon {
			stroke: #7dcbd8;
		}
	}
}

.socialList__icon {
	fill: none;
	stroke: #f7e0b5;
}

.gmail {
	position: fixed;
	right: 40px;
	bottom: 0;
	z-index: 2;
}
.gmail__name {

	&:after {
		content: '';
		display: block;
		margin: 0 auto;
		width: 1px;
		height: 40px;
		background: #f7e0b5;
	}
}
.gmail__link {
	margin-bottom: 10px;
	writing-mode: vertical-rl;
	font-family: Galeria-Medium;
	font-size: 14px;
	color: $palette-secondary;
	transition: transform .2s;

	&:hover {
		transform: translateY(-3px);
		color: $palette-social-link-hover;
	}
}

/*____________________________________________________________
## @import home.scss
____________________________________________________________*/
@import 'partials/index/home.scss';

/*____________________________________________________________
## @import illustration.scss
____________________________________________________________*/
@import 'partials/index/illustration.scss';

/*____________________________________________________________
## @import developerInfo.scss
____________________________________________________________*/
@import 'partials/index/developerInfo.scss';

/*____________________________________________________________
## @import about.scss
____________________________________________________________*/
@import 'partials/index/about.scss';

/*____________________________________________________________
## @import icons.scss
____________________________________________________________*/
@import 'partials/index/icons.scss';

/*____________________________________________________________
## @import animationPack.scss
____________________________________________________________*/
@import 'partials/index/animationPack.scss';

/*____________________________________________________________
## @import animationIllustration.scss
____________________________________________________________*/
@import 'partials/index/animationIllustration.scss';

/*____________________________________________________________
## @import animationIcons.scss
____________________________________________________________*/
@import 'partials/index/animationIcons.scss';