/*____________________________________________________________

# @import
	## @import _variables.scss
# Fonts
# Container
	## Popup Menu
		### Portfolio Container
	## Portfolio Card Content
	## Portfolio Card Wrap

____________________________________________________________*/

/*____________________________________________________________
# @import
____________________________________________________________*/

/*____________________________________________________________
## @import _variables.scss
____________________________________________________________*/
@import 'partials/variables/_variables.scss';

/*____________________________________________________________
# Fonts
____________________________________________________________*/
@font-face {
  font-family: 'Galeria';
  src: url('https://github.com/Kerthin/portfolio-templateSait/blob/main/app/fonts/Galeria-Bold.otf?raw=true') format('opentype');
}
@font-face {
  font-family: 'Galeria-Medium';
  src: url('https://github.com/Kerthin/portfolio-templateSait/blob/main/app/fonts/Galeria-Medium.otf?raw=true') format('opentype');
}
/*____________________________________________________________
# Container
____________________________________________________________*/
.container {
	width: 100%;
	background: $palette-primary;
}

/*____________________________________________________________
## Popup Menu
____________________________________________________________*/
.popupMenu {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
}

/*____________________________________________________________
### Portfolio Container
____________________________________________________________*/
.portfolioContainer {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #f2eaf1;
}

.bgRect {
	position: absolute;
	width: 20%;
	height: 20%;
	border: 2px solid  #292c2c;

	&:nth-child(1) {
		top: 2.5%;
		right: 30%;
		background-color: #56c299;
	}
	&:nth-child(2) {
		bottom: 2.5%;
		left: 20%;
		background-color: #dd4f5b;
	}
}

/*____________________________________________________________
#### Presentation
____________________________________________________________*/
.presentation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 90%;
	border: 2px solid  #292c2c;
	overflow: hidden;
	cursor: pointer;
  transition: all .4s;
}

/*____________________________________________________________
##### Present Page
____________________________________________________________*/
.presentPage {
	position: relative;
	width: 100%;
	height: 100%;
	background: #facf6f;
}

/*____________________________________________________________
###### Present Side
____________________________________________________________*/
.presentSide {
	position: absolute;
	bottom: 0;
	width: 160px;
	height: 0;
	border-right: 2px solid #292c2c;
	overflow: hidden;
	transition: all .4s;
}

.closeButtonWrap {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 80px;
	height: 80px;
	border: 2px solid #292c2c;
	border-radius: 50%;
	background: #f2eaf1;
	transform: scale(0);
	transition: all .4s;
	cursor: pointer;
}
.closeButtonWrap__textWrap,
.presentMain__textWrap {
	position: absolute;
	top: -20%;
	left: -20%;
	width: 140%;
	height: 140%;
	animation-name: rotate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.closeButtonWrap__text {
	font-family: Galeria;
	font-size: 30px;
	fill: #292c2c;
}
.closeButtonWrap__circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 28px;
	height: 28px;
	border: 2px solid #292c2c;
	border-radius: 50%;
	background-color: #facf6f;
}

.presentSide__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(-1, -1);
	font-family: Galeria;
	font-size: 72px;
	color: #292c2c;
	writing-mode: vertical-lr;
}

/*____________________________________________________________
###### Present Main
____________________________________________________________*/
.presentMain {
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	transition: all .4s;
	transition-delay: .2s;
}
.presentMain__article {
	position: absolute;
	font-family: Galeria;
	font-size: 22px;
	color: #292c2c;

	.presentMain__demoLink {
		color: #292c2c;
	}

	&:nth-child(1) {
		top: 35px;
		left: 40px;
	}
	&:nth-child(2) {
		top: 35px;
		right: 40px;
		font-size: 36px;
	}
	&:nth-child(3) {
		bottom: 35px;
		left: 40px;
	}
	&:nth-child(4) {
		bottom: 35px;
		right: 40px;
	}
}

/*____________________________________________________________
####### Present Main Title Wrap
____________________________________________________________*/
.presentMain__titleWrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.presentMain__title {
	position: relative;
	font-family: Galeria;
	font-size: 96px;
	color: #292c2c;
}
.presentMain__titleUnderline {
	position: absolute;
	bottom: -5px;
	width: 70px;
	height: 5px;
	background-color: #292c2c;
}
.presentMain__slide {
	position: absolute;
	top: 0;
	width: 0;
	height: calc(100% + 5px);
	background-color: #facf6f;
	transition: all .4s;
	transition-delay: .7s;
}

.presentMain__titleCircle {
	position: absolute;
	top: -80px;
	right: -125px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	transform: scale(1);
	transition: all .4s;
	transition-delay: .7s;

	.presentMain__text {
		font-family: Galeria;
		font-size: 22px;
		fill: #292c2c;
	}
}

/*____________________________________________________________
####### Present Main Content
____________________________________________________________*/
.presentMain__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 0;
	overflow: hidden;
	transition: all .5s;
}
.presentMain__descript {
	float: left;
	width: 35%;
	height: 100%;
}
.presentMain__descriptTitle {
	margin: 10% 0;
	font-family: Galeria;
	font-size: 24px;
	line-height: 35px;
	color: #292c2c;
}
.presentMain__descriptParagraph {
	font-family: Galeria-Medium;
	font-size: 18px;
	word-spacing: 20px;
	text-align: justify;
	line-height: 50px;
	color: #292c2c;
}

.presentMain__imgWrap {
	position: relative;
	float: left;
	width: 65%;
	height: 100%;
}
.presentMain__imgRect {
	position: absolute;
	right: 15%;
	width: 40%;
	height: 30%;
	border: 2px solid #292c2c;
	background-color: #56c299;
}
.presentMain__img {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
	width: 80%;
	height: 80%;
	border: 20px solid #fff;
	outline: 2px solid #292c2c;
	background-image: url('https://i.pinimg.com/originals/d0/61/40/d06140beca6299f42aa2c4050a0dad45.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*____________________________________________________________
## Portfolio Card Content
____________________________________________________________*/
.portfolioCardContent {
	position: relative;
	margin: 150px auto 100px;
	width: 1500px;
	height: auto;
}
.portfolioCardContent__title {
	position: relative;
	float: left;
	width: 45%;
	font-family: Galeria;
	font-size: 100px;
	color: $palette-secondary;
}
.portfolioCardContent__paragraphWrap {
	position: relative;
	float: left;
	width: 55%;
	height: auto;
}
.portfolioCardContent__paragraphTitle {
	position: relative;
	margin-bottom: 20px;
	font-family: Galeria;
	font-size: 24px;
	color: $palette-secondary;
}
.portfolioCardContent__paragraph {
	font-family: Galeria-Medium;
	font-size: 18px;
	word-spacing: 8px;
	text-align: justify;
	line-height: 35px;
	color: $palette-secondary;
}

/*____________________________________________________________
## Portfolio Card Wrap
____________________________________________________________*/
.portfolioCardWrap {
	position: relative;
	margin: 0 auto;
	width: 1500px;
}
.portfolioCard {
	position: relative;
	float: left;
	width: 330px;
	height: 450px;
	padding: 25px;
	margin-bottom: 60px;
	margin-right: 60px;
	background: $palette-secondary;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .25);
	transition: all 0.3s ease-out;
	cursor: pointer;

	&:nth-child(4n) {
		margin-right: 0;
	}

	&:hover {
		transform: translateY(-5px) scale(1.005) translateZ(0);
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	&:active {
		transform: scale(1) translateZ(0);
		box-shadow: 0px 0px 20px rgba(0, 0, 0, .25);
	}
}
.portfolioCard__img {
	position: relative;
	width: 100%;
	height: 320px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;

	&_gwent {
		background-image: url('https://i.pinimg.com/originals/73/8d/26/738d26a92f816d7379f67519ee5e8210.png');
	}
	&_prado {
		background-image: url('https://i.pinimg.com/originals/9d/c8/f7/9dc8f7657f620fe5496d10cf9f55ac83.png');
	}
	&_spiele {
		background-image: url('https://i.pinimg.com/originals/f4/47/d2/f447d2fd4073f28997ca80bdf0cd6cf9.png');
	}
	&_cuphead {
		background-image: url('https://i.pinimg.com/originals/ed/3d/4e/ed3d4e76fa5d5116de0a2bb8f649689a.png');
	}
	&_calculator {
		background-image: url('https://i.pinimg.com/originals/a9/5b/95/a95b9595b3a101d14407c92c3586bed4.png');
	}
	&_player {
		background-image: url('https://i.pinimg.com/originals/e0/8a/14/e08a141b68c02b08358d7aec2ce6c97c.png');
	}
	&_mobile {
		background-image: url('https://i.pinimg.com/originals/b8/72/89/b8728959adfe9cdeb6ed7e255e6f1162.png');
	}
	&_artGallery {
		background-image: url('https://i.pinimg.com/originals/a2/22/42/a222421ec14add5fd262768d76bdf183.png');
	}
	&_tree {
		background-image: url('https://i.pinimg.com/originals/4b/ca/fc/4bcafca6b36076f715a7e1817108ea41.png');
	}
}
.portfolioCard__about {
	width: 100%;
	margin-top: 27px;
}
.portfolioCard__name {
	margin-bottom: 3px;
	font-family: 'Dosis', sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	color: #292c2c;
}
.portfolioCard__technologies {
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #292c2c;
}