section.about

	//--- Card Wrap
	.cardWrap.clearfix
		include icons/learnabilityIcon.pug
		include icons/fastIcon.pug
		include icons/dynamicIcon.pug
		include icons/responsiveIcon.pug
		include icons/sociableIcon.pug
		include icons/intuitiveIcon.pug