//--- Developer Info
article.developerInfo
	h1.developerInfo__title
		span.developerInfo__greeting Hello, I'm 
		span.developerInfo__name Roden
	h2.developerInfo__subtitle Frontend developer
	p.developerInfo__paragraph I live in Russia and specialize in developing user interfaces. Most of all in my work, I love the visualization of elements and animations. 
		span.developerInfo__paragraphPost I also write posts on the site Dev.to.
	a.developerInfo__link(href="https://dev.to/kerthin" target="_blank") My Posts