/*____________________________________________________________

#### Responsive Icon
	##### Responsive Imac
		###### Responsive Imac Display
			####### Responsive Browser
				######## Responsive Browser Panel
				######## Responsive Browser Page
					######### Responsive Browser Nav
					######### Responsive Browser Banner
					######### Responsive Browser Product List
		###### Responsive Imac Panel
		###### Responsive Imac Stand
	##### Responsive Ipad
		###### Responsive Ipad Display
			####### Ipad Browser
				######## Ipad Browser Nav
				######## Ipad Browser Banner
				######## Responsive Ipad Product List
		###### Responsive Ipad Camera
		###### Responsive Ipad Button
	##### Responsive Iphone
		###### Responsive Iphone Display
			####### Iphone Browser
				######## Iphone Browser Nav
				######## Responsive Iphone Product List
		###### Responsive Iphone Camera
		###### Responsive Iphone Button

____________________________________________________________*/

/*____________________________________________________________
#### Responsive Icon
____________________________________________________________*/
.responsiveIcon {
	@extend %centering;
	width: 69px;
	height: 46px;
}

/*____________________________________________________________
##### Responsive Imac
____________________________________________________________*/
.respImac {
	position: relative;
	width: 100%;
	height: 100%;
}

/*____________________________________________________________
###### Responsive Imac Display
____________________________________________________________*/
.respImac__display {
	position: relative;
	width: 100%;
	height: 100%;
	border: 3.2px solid $x-color-granite;
	border-radius: 2px 2px 0 0;
	background-color: $palette-tertiary;
}

/*____________________________________________________________
####### Responsive Browser
____________________________________________________________*/
.respBrowser {
	@extend %centering;
	width: 60%;
	height: 70%;
	background-color: $x-color-white;
}

/*____________________________________________________________
######## Responsive Browser Panel
____________________________________________________________*/
.respBrowser__panel {
	width: 100%;
	height: 4px;
	background-color: $palette-program-panel;
}
.respBrowser__buttonsWrap {
	position: absolute;
	top: 0.5px;
	left: 2px;
	height: 2px;
}
.respBrowser__button {
	float: left;
	margin-right: 1px;
	width: 2px;
	height: 2px;
	border-radius: 50%;
}

/*____________________________________________________________
######## Responsive Browser Page
____________________________________________________________*/
.respBrowser__page {
	padding: 1.5px 2.5px 2.5px;
	width: 100%;
	height: calc(100% - 4px);
}
.respBrowser__pageLayout {
	width: 100%;
	height: 100%;
}

/*____________________________________________________________
######### Responsive Browser Nav
____________________________________________________________*/
.respBrowser__nav {
	margin-bottom: 1px;
	width: 60%;
	height: 3px;
	background-color: $palette-responsive-nav;
}

/*____________________________________________________________
######### Responsive Browser Banner
____________________________________________________________*/
.respBrowser__banner {
	margin-bottom: 1px;
	width: 100%;
	height: 5px;
	background-color: $palette-responsive-banner;
}

/*____________________________________________________________
######### Responsive Browser Product List
____________________________________________________________*/
.respBrowser__productList {
	width: 100%;
	height: 9px;
}
.respBrowser__product {
	position: relative;
	float: left;
	margin-right: 5%;
	width: 30%;
	height: 100%;

	&:last-child {
		margin-right: 0;
	}
}
.respBrowser__productImg {
	position: relative;
	margin-bottom: 1px;
	width: 100%;
	height: 5px;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: $x-color-grideperlevy;
		animation: slide 3.5s ease infinite;
	}
}
.respBrowser__productLineWrap {
	width: 100%;
	height: 3px;
}
.respBrowser__productLine {
	position: relative;
	float: left;
	margin-bottom: 1px;
	width: 100%;
	height: 1px;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: $x-color-granite;
		animation: slide 3.5s ease infinite;
	}

	@include animDelayChild(1, .2);
	@include animDelayChild(2, .4);
}

/*____________________________________________________________
###### Responsive Imac Panel
____________________________________________________________*/
.respImac__panel {
	position: absolute;
	bottom: -6px;
	width: 100%;
	height: 6px;
	border-radius: 0 0 2px 2px;
	background-color: $x-color-grideperlevy;
}

/*____________________________________________________________
###### Responsive Imac Stand
____________________________________________________________*/
.respImac__stand {
	@extend %horizontalCentering;
	bottom: -17px;
	height: 0; 
	width: 23px;
	border-bottom: 11px solid $x-color-grideperlevy;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
}
.respImac__standShadow {
	position: absolute;
	left: 3px;
	width: 0; 
	height: 0;
	border-top: 11px solid $x-color-cadet-blue;
	border-left: 12px solid transparent;
	transform: skew(26deg, 0deg);
}
.respImac__standBase {
	@extend %horizontalCentering;
	top: 11px;
	width: 36px;
	height: 2px;
	border-radius: 3px 3px 0 0;
	background-color: $x-color-cadet-blue;
}

/*____________________________________________________________
##### Responsive Ipad
____________________________________________________________*/
.respIpad {
	position: absolute;
	bottom: -19px;
	left: -14px;
	width: 29px;
	height: 42px;
}

/*____________________________________________________________
###### Responsive Ipad Display
____________________________________________________________*/
.respIpad__display {
	position: relative;
	padding: 2px 2px 2px 1px;
	width: 100%;
	height: 100%;
	border: solid $x-color-granite;
	border-width: 4px 2.5px;
	border-radius: 2px;
	background-color: $x-color-white;
}

/*____________________________________________________________
####### Ipad Browser
____________________________________________________________*/
.ipadBrowser {
	position: relative;
	width: 100%;
	height: 100%;
}

/*____________________________________________________________
######## Ipad Browser Nav
____________________________________________________________*/
.ipadBrowser__nav {
	margin-bottom: 1px;
	width: 60%;
	height: 3px;
	background-color: $palette-responsive-nav;
}

/*____________________________________________________________
######## Ipad Browser Banner
____________________________________________________________*/
.ipadBrowser__banner {
	margin-bottom: 1px;
	width: 100%;
	height: 5px;
	background-color: $palette-responsive-banner;
}

/*____________________________________________________________
######## Responsive Ipad Product List
____________________________________________________________*/
.ipadBrowser__productList {
	width: 100%;
	height: calc(100% - 10px);
}
.ipadBrowser__product {
	position: relative;
	margin-bottom: 2px;
	width: 100%;
	height: 5px;

	&:last-child {
		margin-bottom: 0;
	}
}
.ipadBrowser__productImg {
	float: left;
	position: relative;
	margin-right: 2px;
	width: 5px;
	height: 5px;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: $x-color-grideperlevy;
		animation: slide 3.5s ease infinite;
	}
}
.ipadBrowser__productLineWrap {
	float: left;
	width: calc(100% - 7px);
	height: 5px;
}
.ipadBrowser__productLine {
	position: relative;
	float: left;
	margin-bottom: 1px;
	width: 100%;
	height: 1px;
	overflow: hidden;

	&:nth-child(3) {
		margin-bottom: 0;
		width: 50%;
	}

	&:after {
		content: '';
		position: absolute;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: $x-color-granite;
		animation: slide 3.5s ease infinite;
	}

	@include animDelayChild(1, .2);
	@include animDelayChild(2, .4);
	@include animDelayChild(3, .5);
}

/*____________________________________________________________
###### Responsive Ipad Camera
____________________________________________________________*/
.respIpad__camera,
.respIphone__camera,
.respIpad__button,
.respIphone__button {
	position: absolute;
	height: 2px;
	background-color: $x-color-grideperlevy;
}
.respIpad__camera,
.respIphone__camera {
	top: 1px;
	width: 2px;
	border-radius: 50%;
}
.respIpad__camera {
	left: 13.5px;
}

/*____________________________________________________________
###### Responsive Ipad Button
____________________________________________________________*/
.respIpad__button,
.respIphone__button {
	bottom: 1px;
	border-radius: 1px;
}
.respIpad__button {
	left: 10.5px;
	width: 8px;
}

/*____________________________________________________________
##### Responsive Iphone
____________________________________________________________*/
.respIphone {
	position: absolute;
	bottom: -19px;
	right: -6px;
	width: 17px;
	height: 31px;
}

/*____________________________________________________________
###### Responsive Iphone Display
____________________________________________________________*/
.respIphone__display {
	position: relative;
	padding: 1px;
	width: 100%;
	height: 100%;
	border: solid $x-color-granite;
	border-width: 4px 2px;
	border-radius: 2px;
	background-color: $x-color-white;
}

/*____________________________________________________________
####### Iphone Browser
____________________________________________________________*/
.iphoneBrowser {
	position: relative;
	width: 100%;
	height: 100%;
}

/*____________________________________________________________
######## Iphone Browser Nav
____________________________________________________________*/
.iphoneBrowser__nav {
	margin-bottom: 1px;
	width: 100%;
	height: 3px;
	background-color: $palette-responsive-nav;
}

/*____________________________________________________________
######## Responsive Iphone Product List
____________________________________________________________*/
.iphoneBrowser__productList {
	width: 100%;
	height: calc(100% - 7px);
}
.iphoneBrowser__product {
	position: relative;
	margin-bottom: 1px;
	width: 100%;
	height: 8px;

	&:last-child {
		margin-bottom: 0;
	}
}
.iphoneBrowser__productImg {
	position: relative;
	margin-bottom: 1px;
	width: 100%;
	height: 4px;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: $x-color-grideperlevy;
		animation: slide 3.5s ease infinite;
	}
}
.iphoneBrowser__productLineWrap {
	width: 100%;
	height: 3px;
}
.iphoneBrowser__productLine {
	position: relative;
	float: left;
	margin-bottom: 1px;
	width: 100%;
	height: 1px;
	overflow: hidden;

	&:nth-child(2) {
		margin-bottom: 0;
	}

	&:after {
		content: '';
		position: absolute;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: $x-color-granite;
		animation: slide 3.5s ease infinite;
	}

	@include animDelayChild(1, .2);
	@include animDelayChild(2, .4);
}

/*____________________________________________________________
###### Responsive Iphone Camera
____________________________________________________________*/
.respIphone__camera {
	left: 7.5px;
}

/*____________________________________________________________
###### Responsive Iphone Button
____________________________________________________________*/
.respIphone__button {
	left: 5.5px;
	width: 6px;
}