/*____________________________________________________________
## About section
____________________________________________________________*/
.about {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: $palette-primary;
}