/*____________________________________________________________
## Home section
____________________________________________________________*/
.home {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: $palette-primary;
}
.developerWrap {
	@extend %centering;
	width: 1700px;
	height: 600px;
}