section.popupPortfolio

	//--- Portfolio Container
	.portfolioContainer
		.bgRect
		.bgRect

		//---- Presentation
		section.presentation

			//----- Present Page
			include presentPage.pug

			//----- Detail Page
			include detailPage.pug

			//----- Portfolio Page
			include portfolioPage.pug