.portfolioCardContent.clearfix
	h1.portfolioCardContent__title Portfolio.
	.portfolioCardContent__paragraphWrap
		h2.portfolioCardContent__paragraphTitle Idea Crafting.
		p.portfolioCardContent__paragraph I started Frontend development in 2018. When creating my personal works, I realized that to present them, you need a personal portfolio.