@media only screen and (min-width: 1181px) and (max-width: 1300px) and (max-height: 615px) {
	// Navigation
	.navigation {
		top: 15px;
		left: 30px;
		transform: translate(0);
		width: 30px;
	}
	.navigation__links {
		display: none;
	}

	// Burger
	.burgerWrap {
		display: block;
	}

	// Developer Links
	.devLinks {
		display: none;
	}

	// Developer
	.home {
		height: 700px;
	}

	// Icons
	.about {
		height: 700px;
	}
}