@media only screen and (min-width: 1601px) and (max-width: 5000px) and (max-height: 940px) {
	// Navigation
	.navigation {
		top: 15px;
		left: 30px;
		transform: translate(0);
		width: 30px;
	}
	.navigation__links {
		display: none;
	}

	// Burger
	.burgerWrap {
		display: block;
		height: 50px;
	}

	// Developer Links
	.devLinks {
		display: none;
	}

	// Developer
	.home {
		height: 1000px;
	}

	// Icons
	.about {
		height: 1000px;
	}
}