//-- Popup menu
section.popupMenu
	nav.popupMenu__nav
		each val, key in {'index.html': 'HOME', 'portfolio.html': 'PORTFOLIO', 'https://github.com/Kerthin?tab=overview&from=2021-05-01&to=2021-05-05': 'GITHUB', 'https://codepen.io/Astap': 'CODEPEN', 'https://twitter.com/BelichenkoRoden': 'TWITTER'}
			a.popupMenu__link(href=`${key}`)= val

//-- Burger
.burgerWrap.js-burgerWrap_close
	label.burgerWrap__box
		svg.strokeWrap(viewBox="30 28 40 40" xmlns="http://www.w3.org/2000/svg")
			path.strokeWrap__stroke.strokeWrap__stroke_first(d="M0 40h62c13 0 6 28-4 18L35 35")
			path.strokeWrap__stroke.strokeWrap__stroke_second(d="M0 50h70")
			path.strokeWrap__stroke.strokeWrap__stroke_third(d="M0 60h62c13 0 6-28-4-18L35 65")