html
	head
		include template/head.pug
		include template/partials/_general.pug
		include template/partials/portfolio/_linkPortfolioStyle.pug
	body
		.container
		include template/partials/_mainScripts.pug