html
	head
		include template/head.pug
		include template/partials/_general.pug
		include template/partials/portfolio/_linkPortfolioStyle.pug
	body
		include template/partials/popupMenu/popupMenu.pug

		//- Container
		.container

			include template/partials/portfolio/preloader.pug
			include template/partials/navigation/navigation.pug

			//-- Portfolio Card Content
			include template/partials/portfolio/portfolioCardContent.pug

			//-- Portfolio Card Wrap
			include template/partials/portfolio/portfolioCardWrap.pug

			//-- Popup Portfolio
			include template/partials/portfolio/popupPortfolio.pug

		include template/partials/portfolio/_portfolioPageScripts.pug