/*____________________________________________________________
## Popup menu
____________________________________________________________*/
.blockRevealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
}

.popupMenu {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	z-index: 3;
}
.popupMenu__nav {
	position: absolute;
	background: #13334c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.popupMenu__link {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	letter-spacing: 3px;
	color: #f6f6e9;
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	cursor: pointer;
	
	&:last-child {
		margin-bottom: 0px;
	}
	
	&:before {
		content: "";
		position: absolute;
		top: 0px;
		left: -101%;
		width: 100%;
		height: 100%;
		background: #e1646a;
		z-index: 2;
		transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
	}
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -2px;
		left: 101%;
		width: 100%;
		height: 4px;
		background: #e1646a;
		transition: all .3s;
		transition-delay: .4s;
	}
	
	&:hover {
		&:before {
			left: 100%;
		}
		&:after {
			left: 0;
		}
	}
}

.popupMenu__link {
	transform: translate3d(0, 50px, 0);
	opacity: 0;
	transition: transform 0s 0.6s, opacity 0s 0.6s;
}

.js-popupMenu_open {
	pointer-events: visible;
	
	.popupMenu__link {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: transform 1s 0.3s, opacity 1s 0.3s;
		transition-timing-function: cubic-bezier(0.2, 1, 0.2, 1);
		
		&:nth-child(2) {
			transition-delay: .35s;
		}
		&:nth-child(3) {
			transition-delay: .4s;
		}
		&:nth-child(4) {
			transition-delay: .45s;
		}
		&:nth-child(5) {
			transition-delay: .5s;
		}
		&:nth-child(6) {
			transition-delay: .55s;
		}
	}
}

//-- Burger
.burgerWrap {
	display: none;
	position: fixed;
	top: 3px;
	right: 30px;
	width: 30px;
	height: 50px;
	z-index: 3;
}
.burgerWrap__box {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.strokeWrap__stroke {
	fill: none;
	stroke: #f7e0b5;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
	--length: 24;
	--offset: -38;
	stroke-dasharray: var(--length) var(--total-length);
	stroke-dashoffset: var(--offset);
	transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.strokeWrap__stroke_first,
.strokeWrap__stroke_third {
	--total-length: 126.64183044433594;
}
.strokeWrap__stroke_second {
	--total-length: 70;
}
.burgerInput {
	display: none;
	
	&:checked {
		
		+ .strokeWrap {
			
			.strokeWrap__stroke_first,
			.strokeWrap__stroke_third {
				--length: 22.627416998;
				--offset: -94.1149185097;
			}
			.strokeWrap__stroke_second {
				--length: 0;
				--offset: -50;
			}
		}
	}
}